@layer base {
  *,
  ::before,
  ::after {
    border-color: theme(colors.gray.200);
  }
  .dark {
    *,
    ::before,
    ::after {
      border-color: theme(colors.slate.700);
    }
  }

  :root {
    --elm-undefined: #ffffff;
    --elm-bug: #9dc130;
    --elm-dark: #5f606d;
    --elm-dragon: #0773c7;
    --elm-electric: #edd53f;
    --elm-fairy: #ef97e6;
    --elm-fighting: #d94256;
    --elm-fire: #fc6c6d;
    --elm-flying: #9bb4e8;
    --elm-ghost: #7975d4;
    --elm-grass: #5dbe62;
    --elm-ground: #d78555;
    --elm-ice: #98d8d8;
    --elm-normal: #9a9da1;
    --elm-poison: #b563ce;
    --elm-psychic: #f85888;
    --elm-rock: #cec18c;
    --elm-steel: #b8b8d0;
    --elm-water: #60a5fa;
    &.dark {
      --elm-undefined: #25303f;
      --elm-bug: #5b712d;
      --elm-dark: #3b404b;
      --elm-dragon: #0f4979;
      --elm-electric: #837b34;
      --elm-fairy: #845c88;
      --elm-fighting: #793140;
      --elm-fire: #8a464b;
      --elm-flying: #5a6a89;
      --elm-ghost: #484a7f;
      --elm-grass: #3a6f46;
      --elm-ground: #78533f;
      --elm-ice: #587c81;
      --elm-normal: #595f66;
      --elm-poison: #67417c;
      --elm-psychic: #883c59;
      --elm-rock: #73715b;
      --elm-steel: #686c7d;
      --elm-water: #3c6392;
    }
  }

  html {
    @apply bg-slate-50 text-typography-light;
    &.dark {
      @apply bg-dark-base text-typography-dark;
    }
  }

  .h1 {
    @apply text-3xl font-bold;
  }

  #__next {
    /* @apply lg:grid lg:grid-cols-[auto_13rem_minmax(0,_65rem)_auto]; */
    main {
      /* @apply lg:col-start-3; */
      font-family: 'Mabry Pro', sans-serif;
    }
  }

  @media screen(xl) {
    #__next.hide-sidebar {
      @apply flex flex-col;
      #_nav {
        @apply hidden;
      }
      main {
        @apply max-w-full self-center;
      }
    }
  }

  #_nav {
    @apply fixed bottom-0 z-10 w-full border-t bg-white dark:bg-dark-card
           lg:relative lg:col-start-2 lg:h-full lg:min-h-[calc(100vh_-_80px)] lg:border-r lg:border-t-0 lg:bg-transparent dark:lg:bg-transparent;

    /* Virtual keyboard shown */
    @media screen and (max-height: 480px) and (max-width: 767.98px) {
      @apply hidden;
    }

    .nav-link {
      @apply flex h-full w-full flex-col items-center rounded-md p-1.5 text-center hover:bg-slate-100 focus:bg-slate-100 dark:hover:bg-dark-light dark:focus:bg-dark-light
             lg:mt-0.5 lg:flex-row lg:gap-2 lg:p-3 lg:text-left
             xl:mt-1.5
             2xl:mt-2;
    }
  }
  #_nav-inner {
    @apply flex flex-wrap gap-y-1 px-2 py-0.5 text-[10px]
           lg:sticky lg:top-20 lg:-ml-2 lg:block lg:py-10 lg:pl-0 lg:pr-5 lg:text-base;
  }

  #_header {
    @apply sticky top-0 z-20 translate-y-[var(--header-distance)] bg-black text-white shadow transition-transform dark:bg-dark-card
           lg:col-span-full lg:translate-y-0;
  }
  .dark #_header {
    box-shadow: 0 0 5px #121727;
  }
  #_header-inner {
    @apply flex h-16 justify-between pl-3.5 lg:h-20 lg:pl-6;
  }

  .ReactQueryDevtools {
    @apply absolute;
    > button[aria-expanded='false'] {
      @apply opacity-40 hover:opacity-100;
    }
  }

  .starlet-font {
    font-family: 'Mabry Pro', sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .custom-border{
    border-left: 2px solid white;
    border-bottom: 2px solid black;
  }

  .page-wrap{
    overflow: hidden;
  }

  .grid-halves{
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 2px solid #000;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    color: black
  }

  .column-padding{
    height: 100%;
    min-height: 22rem;
    align-items: center;
    padding: 6.5vw;
    display: flex;
    position: relative;
  }

  .content-grid{
    width: 100%;
    max-width: 48rem;
    grid-column-gap: 0px;
    grid-row-gap: 3rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-content: start;
    align-items: stretch;
    justify-items: stretch;
    margin-left: 0;
    margin-right: 0;
    display: grid;
  }

  .content-grid h1 {
    font-family: 'Mabry Pro', sans-serif;
    letter-spacing: -.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5.625rem;
    font-weight: 400;
    line-height: .9;
  }

  .section-sub-head{
    letter-spacing: -.01em;
    font-size: 1.5rem;
    line-height: 1.3;
  }
}