@import 'tailwindcss/base';
@import './base.css';

@import 'tailwindcss/components';
/* @import './components/globals.css';
@import './components/pokemon-base.css';
@import './components/pokemon-card.css';
@import './components/pokemon-detail.css';
@import './components/pokemon-evolution.css'; */

@import 'tailwindcss/utilities';

@font-face {
  font-family: "Bukhari Script";
  src: url('../../public/fonts/BukhariScript.woff2') format('woff2'),
  url('../../public/fonts/BukhariScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
